In [7]:
!pip install ISLP
from ISLP import load_data
from ISLP.models import (ModelSpec as MS,
                         summarize,
                         poly)

Requirement already satisfied: ISLP in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (0.4.0)
Requirement already satisfied: numpy>=1.7.1 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from ISLP) (2.3.2)
Requirement already satisfied: scipy>=0.9 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from ISLP) (1.16.2)
Requirement already satisfied: pandas>=0.20 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from ISLP) (2.3.2)
Requirement already satisfied: lxml in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from ISLP) (6.0.1)
Requirement already satisfied: scikit-learn>=1.2 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from ISLP) (1.7.2)
Requirement already satisfied: joblib in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from ISLP) (1.5.2)
Requirement already satisfied: statsmodels>=0.13 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from ISLP) (0.14.5)
Requirement already satisfied: lifelines in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from ISLP) (0.30.0)
Requirement already satisfied: pygam in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from ISLP) (0.10.1)
Requirement already satisfied: torch in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from ISLP) (2.8.0)
Requirement already satisfied: pytorch-lightning in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from ISLP) (2.5.5)
Requirement already satisfied: torchmetrics in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from ISLP) (1.8.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from pandas>=0.20->ISLP) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from pandas>=0.20->ISLP) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from pandas>=0.20->ISLP) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=0.20->ISLP) (1.17.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from scikit-learn>=1.2->ISLP) (3.6.0)
Requirement already satisfied: patsy>=0.5.6 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from statsmodels>=0.13->ISLP) (1.0.1)
Requirement already satisfied: packaging>=21.3 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from statsmodels>=0.13->ISLP) (25.0)
Requirement already satisfied: matplotlib>=3.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from lifelines->ISLP) (3.10.6)
Requirement already satisfied: autograd>=1.5 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from lifelines->ISLP) (1.8.0)
Requirement already satisfied: autograd-gamma>=0.3 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from lifelines->ISLP) (0.5.0)
Requirement already satisfied: formulaic>=0.2.2 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from lifelines->ISLP) (1.2.0)
Requirement already satisfied: interface-meta>=1.2.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from formulaic>=0.2.2->lifelines->ISLP) (1.3.0)
Requirement already satisfied: narwhals>=1.17 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from formulaic>=0.2.2->lifelines->ISLP) (2.5.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from formulaic>=0.2.2->lifelines->ISLP) (4.15.0)
Requirement already satisfied: wrapt>=1.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from formulaic>=0.2.2->lifelines->ISLP) (1.17.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from matplotlib>=3.0->lifelines->ISLP) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from matplotlib>=3.0->lifelines->ISLP) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from matplotlib>=3.0->lifelines->ISLP) (4.59.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from matplotlib>=3.0->lifelines->ISLP) (1.4.9)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from matplotlib>=3.0->lifelines->ISLP) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from matplotlib>=3.0->lifelines->ISLP) (3.2.3)
Requirement already satisfied: progressbar2<5,>=4.2.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from pygam->ISLP) (4.5.0)
Requirement already satisfied: python-utils>=3.8.1 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from progressbar2<5,>=4.2.0->pygam->ISLP) (3.9.1)
Requirement already satisfied: tqdm>=4.57.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from pytorch-lightning->ISLP) (4.67.1)
Requirement already satisfied: PyYAML>5.4 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from pytorch-lightning->ISLP) (6.0.2)
Requirement already satisfied: fsspec>=2022.5.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (2025.9.0)
Requirement already satisfied: lightning-utilities>=0.10.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from pytorch-lightning->ISLP) (0.15.2)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (3.12.15)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (2.6.1)
Requirement already satisfied: aiosignal>=1.4.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (1.4.0)
Requirement already satisfied: attrs>=17.3.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (1.7.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (6.6.4)
Requirement already satisfied: propcache>=0.2.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (0.3.2)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (1.20.1)
Requirement already satisfied: idna>=2.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from yarl<2.0,>=1.17.0->aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (3.10)
Requirement already satisfied: setuptools in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from lightning-utilities>=0.10.0->pytorch-lightning->ISLP) (78.1.1)
Requirement already satisfied: filelock in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from torch->ISLP) (3.19.1)
Requirement already satisfied: sympy>=1.13.3 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from torch->ISLP) (1.14.0)
Requirement already satisfied: networkx in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from torch->ISLP) (3.5)
Requirement already satisfied: jinja2 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from torch->ISLP) (3.1.6)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from sympy>=1.13.3->torch->ISLP) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/envs/myenv/lib/python3.11/site-packages (from jinja2->torch->ISLP) (3.0.2)

In [8]:
# Q1: Load the College dataset and show first 10 rows + all column names
import pandas as pd
College = load_data('College')
display(College.head(10))
print("\nColumn names:")
print(College.columns.tolist())

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
5,Yes,587,479,158,38,62,678,41,13500,3335,500,675,67,73,9.4,11,9727,55
6,Yes,353,340,103,17,45,416,230,13290,5720,500,1500,90,93,11.5,26,8861,63
7,Yes,1899,1720,489,37,68,1594,32,13868,4826,450,850,89,100,13.7,37,11487,73
8,Yes,1038,839,227,30,63,973,306,15595,4400,300,500,79,84,11.3,23,11644,80
9,Yes,582,498,172,21,44,799,78,10468,3380,660,1800,40,41,11.5,15,8991,52

Column names:
['Private', 'Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc', 'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books', 'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni', 'Expend', 'Grad.Rate']

Q1: Brief description

The dataset College contains information on U.S. colleges and universities. Each row represents a single institution, and each column describes one of its characteristics such as tuition, student body, or faculty background.

- Private: A categorical variable indicating whether the institution is private (Yes/No).

- Outstate: The out-of-state tuition charged by the institution (numeric, in U.S. dollars).

- Room.Board: The cost of room and board (numeric, in U.S. dollars).

- PhD: The percentage of faculty with Ph.D. degrees (numeric, range 0–100).

- Top10perc: The percentage of new students who graduated in the top 10% of their high school class (numeric, range 0–100).

In [9]:
# Q2: Simple Linear Regression: Outstate ~ Top10perc
import numpy as np
import statsmodels.api as sm
X = pd.DataFrame({'Intercept': np.ones(College.shape[0]),
                  'Top10perc': College['Top10perc']})
y = College['Outstate']
model1 = sm.OLS(y, X) 
results1 = model1.fit() 
display(summarize(results1))

print(results1.params) # Coefficients

                coef  std err       t  P>|t|
Intercept  6906.4586  221.614  31.164    0.0
Top10perc   128.2437    6.774  18.931    0.0

Intercept    6906.458580
Top10perc     128.243669
dtype: float64

Q2: Report

Estimated coefficients:
- Intercept: 6906.46
- Top10perc: 128.24

Interpretation:

Each 1% increase in the proportion of students from the top 10% of their high school class is associated with an increase of about &#36;128 in out-of-state tuition. The intercept (approximately &#36;6906) is the predicted tuition when Top10perc = 0.

In [10]:
# Q3: Multiple Linear Regression: Outstate ~ TTop10perc + Room.Board + PhD
X = pd.DataFrame({'Intercept': np.ones(College.shape[0]),
                  'Top10perc': College['Top10perc'],
                  'Room.Board': College['Room.Board'],
                  'PhD': College['PhD']})
y = College['Outstate']
model2 = sm.OLS(y, X)
results2 = model2.fit()
display(summarize(results2))

print(results2.params) # Coefficients

                coef  std err       t  P>|t|
Intercept  -430.6350  538.834  -0.799  0.424
Top10perc    82.0003    6.728  12.189  0.000
Room.Board    1.8825    0.097  19.397  0.000
PhD           5.6226    7.147   0.787  0.432

Intercept    -430.635022
Top10perc      82.000309
Room.Board      1.882480
PhD             5.622552
dtype: float64

Q3: Report

Estimated coefficients:
- Intercept: -430.64
- Top10perc: 82.00
- Room.Board: 1.88
- PhD: 5.62

Interpretation:

- When all predictors are zero, the baseline Outstate tuition is about –$431 (not meaningful in practice).
- Each 1% increase in Top10perc is linked to about $82 higher Outstate tuition, holding others constant.
- Each $1 increase in Room.Board adds about $1.88 to Outstate tuition, holding others constant.
- Each 1% increase in faculty with a PhD adds about $5.62 to Outstate tuition, holding others constant.

In [11]:
# Q4: Multiple Regression with quadratic term for Top10perc
X = pd.DataFrame({'Intercept': np.ones(College.shape[0]),
                  'Top10perc': College['Top10perc'],
                  'Top10perc2': College['Top10perc']**2,
                  'Room.Board': College['Room.Board'],
                  'PhD': College['PhD']})
y = College['Outstate']
model3 = sm.OLS(y, X)
results3 = model3.fit()
display(summarize(results3))

print(results3.params)

                 coef  std err       t  P>|t|
Intercept  -1087.2758  573.149  -1.897  0.058
Top10perc    138.0675   18.661   7.399  0.000
Top10perc2    -0.6859    0.213  -3.218  0.001
Room.Board     1.9081    0.097  19.712  0.000
PhD            1.9617    7.194   0.273  0.785

Intercept    -1087.275765
Top10perc      138.067460
Top10perc2      -0.685852
Room.Board       1.908079
PhD              1.961703
dtype: float64

Q4: Report

Estimated coefficients:

- Intercept: –1087.28
- Top10perc: 138.07
- Top10perc²: –0.69
- Room.Board: 1.91
- PhD: 1.96

Interpretation (for Outstate tuition):

- Each 1% increase in Top10perc initially raises Outstate tuition by about $138, holding other factors constant.
- The negative quadratic term (–0.69) means the effect of Top10perc diminishes as the percentage grows higher — the curve bends downward. In other words, tuition still increases with Top10perc, but at a decreasing rate.
- Room.Board and PhD continue to have positive effects on Outstate tuition, similar to the previous model.

In [12]:
# Q5: Compare Q3 and Q4 models using ANOVA
from statsmodels.stats.anova import anova_lm

# Q3 model = results2 (linear, with Top10perc, Room.Board, PhD)
# Q4 model = results3 (quadratic, add Top10perc^2)

anova_results = anova_lm(results2, results3)
print(anova_results)

   df_resid           ssr  df_diff       ss_diff          F    Pr(>F)
0     773.0  5.693394e+09      0.0           NaN        NaN       NaN
1     772.0  5.618020e+09      1.0  7.537388e+07  10.357499  0.001343

Q5: Interpretation

- F-Statistic: 10.36
- p-value: 0.0013

Interpretation:

Since the p < 0.05, the quadratic term for Top10perc significantly improves the prediction of outstate tuition compared to the linear model.